.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 45px;
  opacity: 90%;
  margin-bottom: 10px;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.alt-header__column:first-child {
  marignt-right: auto;
}

.alt-header__column:last-child {
  marignt-right: auto;
}
