.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--color-lessBlack);
  position: relative;
}

.nav__badge--position-nm {
  position: absolute;
  left: 8px;
  bottom: 6px;
}

.nav__badge--position-sm {
  position: absolute;
  left: 22px;
  bottom: 17px;
}
